
<mat-card appearance="outlined" class="p-4">
    <div class="container">
        <mat-card-title class="pb-3">Register</mat-card-title>
        <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput type="text" placeholder="enter user name" formControlName="userName" >
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" placeholder="enter email" formControlName="email" >
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="enter password" formControlName="password" >
                </mat-form-field>
            </div>
            <div class="row">
                <div class="action text-center">
                    <button mat-raised-button color="primary" type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row pt-3 px-2">
        <a routerLink="/login">Already Registerd? Login here</a> 
     </div>
        
</mat-card>